.contentwrapdoindex{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
}

.fotos{
    position: relative;
    bottom: 80px;
    margin-right: 20px;
    float: left;
    width: 31%;
    height: 100%;
    border-radius: 25px;
}

@media (max-width: 1000px){
    .fotos{
        width: 45%
    }
}

@media (max-width: 800px){
    .fotos{
        width: 85%
    }
}