
.contentwrapdoindex{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
}

.textInicial{
    float: left;
    width: 100%;
    height: 150px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
}
.fotosELink{
    float: left;
    width: 100%;
    height: 400px;

}

.fotoLateral{
    float: left;
    width: 30%;
    height: 800px;
    position: relative;
}

.textoPrincipal{
    float: left;
    width: 70%;
    height: 800px;
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.fundoDireito{
    float: right;
    width: 85%;
    height: 150px;
    background-color: #FFF9D7;
    border-radius: 25px 0 0 0;
}

.fotosLink{
    height: 200px;
    width: 100%;
    float: left;

}
.fotos{
    position: relative;
    bottom: 80px;
    margin-right: 20px;
    float: left;
    width: 31%;
    height: 100%;
    border-radius: 25px;
}
.linkSaibaMaisWrap{
    float: left;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}
.linkSaibaMais{
    position: relative;
    bottom: 40px;
    background-color:rgb(211,144,51);
    height: 50px;
    width: 200px;
    line-height: 50px;
    color: white;
    text-align: center;
    border-radius: 25px;
}
.linkSaibaMais:hover{
    background-color: #5b352c;
    cursor: pointer;
}
.fundoLateralDireito{
    height: 80%;
    width: 80%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(211,144,51);
    border-radius: 0 25px 0 0;
}

.fotoLateralDireito{
    height: 80%;
    width: 80%;
    position: absolute;
    top: 50px;
    right: 0;
    border-radius: 25px;
}

.textoMeio{
    text-align: center;
    margin-bottom: 80px;
    padding-right: 30px;
    padding-left: 30px;
}



@media (max-width: 1000px){
    .f1{
        display: none;
    }

    .fotosELink{
        float: left;
        width: 100%;
        height: 500px;
    }
        
    .fotosLink{
        height: 300px;
    }

    .fotos{
        width: 45%
    }
}

@media (max-width: 800px){

    .f2{
        display: none;
    }

    .fotosELink{
        float: left;
        width: 100%;
        height: 500px;
    }
        
    .fotosLink{
        height: 300px;
    }

    .fotos{
        width: 85%
    }

    .fotoLateral{
        display: none;
    }

    .textoPrincipal{
        float: left;
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;
        flex-flow: column;
    }
}